<footer id="footer">
    <div class="footer__wrapper">
        <div class="footer__main">
            <div class="footer__main__branding">
                <div class="items-center flex gap-3">
                    {% if website.getMetaValue('logo') %}
                    <img alt="{{ website.getMetaValue('site-name') }}" class="footer__main__branding__logo" src="{{ website.getMetaValue('logo') }}">
                    {% endif %}
                    <span class="footer__main__branding__text-logo">{{ website.getMetaValue('site-name') }}</span>
                </div>
                <p class="footer__main__branding__footer-text">
                    {{ website.getMetaValue('footer-text') | raw }}
                </p>
            </div>
            <div class="footer__main__menus">

                {% set menu = menu_solve('footer') %}
                {% if menu %}
                    {% for item in menu %}
                    <div class="footer__main__menus__menu">
                        <a href="{{ item.link }}"><h4>{{ item.text }}</h4></a>
                        <ul>
                            {% for subItem in item.items %}
                            <li>
                                <a href="{{ subItem.link }}"{% if subItem.new_tab %} target="_blank"{% endif %}>{{ subItem.text }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="footer__trending__searches">
            <h4>Xu hướng:</h4>
        
            {% for search in search_trending() %}
                <a href="{{ link_search(str_slug(search.keywords)) }}" title="{{ search.keywords }}" class="mini-badge">{{ search.keywords }}</a>
            {% endfor %}
        </div>
        
        <div class="footer__copyright">
            <div class="footer__copyright__text">© {{ date('Y') }} <a href="/">{{ website.getMetaValue('site-name') }}</a>
            </div>
        </div>
    </div>
</footer>