<header id="header" class="header">
    <div class="header__wrapper">
        <button onclick="toggleAsideMenu()" data-slot="button" class="header__burger" type="button" aria-label="Mở menu">
            <div class="relative size-5">
                <span class="header__burger__stick header__burger__stick--top"></span>
                <span class="header__burger__stick header__burger__stick--bottom"></span>
            </div>
        </button>
        <a href="/" class="header__logo">
            {% if website.getMetaValue('logo') %}
            <img src="{{ website.getMetaValue('logo') }}" alt="{{ website.getMetaValue('site-name') }}" class="h-8 w-auto">
            {% else %}
            <strong>{{ website.getMetaValue('site-name') }}</strong>
            {% endif %}
        </a>
        <div class="header__spacer"></div>

        <button onclick="toggleMobileHeaderSearch()" data-slot="button" class="header__mobile-search-deactivate-button" type="button" aria-label="Đóng tìm kiếm">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-arrow-left size-5">
                <path d="M5 12l14 0"></path>
                <path d="M5 12l6 6"></path>
                <path d="M5 12l6 -6"></path>
            </svg>
        </button>
        <form action="{{ link_search() }}" method="GET" class="header__search">
            <div class="header__search__wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                </svg>
                <input data-slot="input" class="primary-input" type="search" name="{{ website.getMetaValue('search-query-name') ?: 'keyword' }}" placeholder="Tìm kiếm phim...">
            </div>
        </form>
        <button onclick="toggleMobileHeaderSearch()" data-slot="button" class="header__mobile-search-activate-button" type="button" aria-label="Tìm kiếm">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-search size-5">
                <path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
            </svg>
        </button>
    
    </div>
</header>

<script>
window.mobileHeaderSearchActive = false
function toggleMobileHeaderSearch() {
    const header = document.getElementById('header')

    if (window.mobileHeaderSearchActive) {
        window.mobileHeaderSearchActive = false
        header.classList.remove('header--mobile-search-active')
    } else {
        window.mobileHeaderSearchActive = true
        header.classList.add('header--mobile-search-active')
    }
}
</script>

