<div id="navbar" class="navbar">
    <a href="/?view=the-loai" class="navbar__item {{ request.query('view') == 'the-loai' ? ' navbar__item--active' : '' }}">
        Thể loại
    </a>
    {% set menu = menu_solve('main') %}
    {% if menu %}
        {% for item in menu %}
        <a href="{{ item.link }}" class="navbar__item {{ (link_current(false) is same as item.link or request.path() is same as item.link) ? ' navbar__item--active' : '' }}">
            {{ item.text }}
        </a>
        {% endfor %}
    {% endif %}
</div>
