<!DOCTYPE html>
<html lang="vi">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body>
        <div style="display: contents">
            {{ embed_render('top-banner-ads') | raw }}
            <div id="wrapper">
                {% include 'partials/header.html' %}
                {% include 'partials/aside.html' %}

                {{ block('content') }}

                <div style="height:30px"></div>
                {% include 'partials/footer.html' %}
            </div>

            {% include 'components/common_js.html' %}
            {{ embed_render('ads-script') | raw }}
        </div>
    </body>
</html>
