<div class="video-item">
    <a {% if alpine %} :href="video.url" {% else %} href="{{ resource.getLink() }}" {% endif %} 
    class="video-item__thumb" 
    {% if alpine %} :title="video.title" {% else %} title="{{ resource.getTitle() }}"{% endif %}>
        
        {% if alpine %}
        <div x-if="video.featured_labels.length" class="video-item__ribbon-wrapper">
            <template x-for="label in video.featured_labels">
                    <span class="ribbon" x-text="label"></span>
            </template>
        </div>
        {% elseif resource.getFeaturedLabels() | length %}
            <div class="video-item__ribbon-wrapper">
                {% for label in resource.getFeaturedLabels() %}
                <span class="ribbon">{{ label }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <img {% if alpine %} :src="video.thumbnail_file_url || '{{ link_asset('img/default-video.jpg') }}'" {% else %} src="{{ resource.getThumbnailFile() ? image_resize(300, resource.getThumbnailFile()) : link_asset('img/default-video.jpg') }}" {% endif %} 
            {% if alpine %} :alt="video.title" {% else %} alt="{{ resource.getTitle() }}" {% endif %}
        />
    </a>
    <div class="video-item__title">
        {% if alpine %}
        <a :href="video.url" :title="video.title" x-text="video.title"></a>
        {% else %}
        <a href="{{ resource.getLink() }}" title="{{ resource.getTitle() }}">{{ resource.getTitle() }}</a>
        {% endif %}
    </div>
</div>
