{#
    Variables: video, alpine (boolean), viewAll, viewAllText
#}
<a {% if alpine %} :href="video.url" {% else %} href="{{ video.getLink() ?: viewAll }}" {% endif %} 
    class="video-item group" 
    {% if not alpine %}
    aria-label="{{ video.title }}"
    {% endif %}
>
    <div class="relative">
        <div class="video-item__thumbnail">
            <img {% if alpine %} :src="video.thumbnail_file_url || '{{ link_asset('img/default-video.jpg') }}'" {% else %} src="{{ video.getThumbnailFile() ? image_resize(300, video.getThumbnailFile()) : link_asset('img/default-video.jpg') }}" {% endif %} 
                {% if alpine %} :alt="video.title" {% else %} alt="{{ video.getTitle() }}" {% endif %} 
                draggable="false"
            />
        </div>

        {% if alpine %}
        <div class="video-item__label-wrapper">
            <template x-for="label in video.featured_labels">
                <span class="video-item__label" x-text="label"></span>
            </template>
        </div>
        {% elseif video.getFeaturedLabels() | length %}
        <div class="video-item__label-wrapper">
            {% for label in video.getFeaturedLabels() %}
            <span class="video-item__label">{{ label }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="video-item__dimmer"></div>
    </div>

    {% if viewAll and viewAllText %}
        <div class="text-center pt-3">
            <span class="video-item__heading" href="{{ viewAll }}">{{ viewAllText }}</span>
        </div>
    {% else %}
        {% if alpine %}
        <h3 class="video-item__heading" x-text="video.title"></h3>
        {% else %}
        <h3 class="video-item__heading" title="{{ video.getTitle() }}">{{ video.getTitle() }}</h3>
        {% endif %}

        {% if alpine %}
        <p class="video-item__subheading" x-text="video.views + ' views'"></p>
        {% else %}
        <p class="video-item__subheading">{{ video.getModel().views }} views</p>
        {% endif %}
    {% endif %}

</a>