{% extends 'layouts/default.html' %}

{% block content %}
<div class="px-1 py-5 lg:px-5">
    {% set allWebsiteCategories = website_category_all().sortByDesc('public_posts_count') %}

    {% if request.query('view') == 'the-loai' %}
        {% include 'components/home/website_categories.html' with {allWebsiteCategories} %}
    {% elseif request.query('view') == 'all-videos' %}
        {% include 'components/home/all_videos.html' with {listData} %}
    {% elseif request.query('view') == 'top' %}
        {% include 'components/home/top.html' %}
    {% else %}
        {% include 'components/home/default.html' with {listData, allWebsiteCategories} %}
    {% endif %}
</div>
{% endblock %}