{% extends 'layouts/default.html' %}

{% block content %}
<div class="px-1 py-5 lg:px-5">
    {% if request.query('view') == 'the-loai' %}

        {% set allWebsiteCategories = website_category_all().sortByDesc('public_posts_count') %}

        {% include 'components/heading.html' with {
            heading: 'Tất cả thể loại',
            count: count(allWebsiteCategories),
        } %}
        <div class="list-videos mt-5">

            {% for websiteCategory in allWebsiteCategories %}
            <a href="{{ link_to(websiteCategory) }}" class="video-item group">
                <div class="relative">
                    <div class="video-item__thumbnail">
                        {% set thumbnailFile = model_relation(websiteCategory, 'thumbnailFile') %}
                        <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) : link_asset('img/default-video.jpg') }}" alt="Phim sex {{ websiteCategory.title }}" />
                    </div>
                </div>
                
                <h3 href="{{ link_to(websiteCategory) }}" title="Phim sex {{ websiteCategory.title}}" class="video-item__heading">
                    {{ websiteCategory.title }}
                </h3>
                <small class="video-item__subheading">{{ websiteCategory.public_posts_count }} phim</small>
            </a>
            {% endfor %}
        </div>

    {% elseif request.query('view') == 'all-videos' %}

        {% include 'components/heading.html' with {
            heading: 'Toàn bộ videos',
            description: 'Xem toàn bộ videos của ' ~ website.getMetaValue('site-name'),
            count: website.public_posts_count,
        } %}
        <div style="height:50px"></div>
        {# List resources #}
        {% include 'components/list_videos.html' with {
            resources: listData.getResources(),
            resourcesCount: listData.getResourcesCount(),
        } %}

    {% else %}
        {% include 'components/hero_carousel.html' with { videos: listData.getResources() } %}

        {% include 'components/videos_carousel.html' with {
            heading: 'Testing the component',
            videos: listData.getResources(),
        } %}
    {% endif %}
</div>
{% endblock %}