{% extends 'layouts/default.html' %}

{% block content %}
<div class="px-1 py-5 lg:px-5">
    {% include 'components/heading.html' with {
        heading: listData.getTitle(),
        description: listData.getDescription(),
        thumbnailFile: listData.getThumbnailFile(),
        count: listData.getResourcesCount(),
    } %}
    <div style="height:50px"></div>

    {# List resources #}
    {% include 'components/list_videos.html' with {
        resources: listData.getResources(),
        resourcesCount: listData.getResourcesCount(),
    } %}

</div>
{% endblock %}