{% extends 'layouts/default.html' %}

{% block content %}
<div id="video-page" class="video-page">
    <div class="video-page__main">
        
        {# Media player #}
        {% include 'components/hentaiz2_player.html' with { media } %}

        <h1 class="heading">{{ post.title }} </h1>

        <!-- Tags -->
        {% include 'components/post/featured_tags.html' with { post } %}

        <!-- Contents -->
        <div class="video-page__main__card">
            <div class="video-page__main__card__subheading">{{ post.views | number_format }} lượt xem • {{ post.created_at | date('d/m/Y') }}</div>
            <div class="text-sm mt-1">
                <div>
                    {{ content.content | raw }}
                </div>
                
                <!-- in4 -->
                {% include 'components/post/information.html' with { post } %}
            </div>
        </div>

        <!-- Categories -->
        {% set websiteCategories = model_relation(post, 'websiteCategories') %}
        {% if websiteCategories | length %}
        <div class="video-page__main__card mt-5">
            <div class="video-page__main__card__subheading">Thể loại</div>
            <div class="mt-3 flex flex-wrap gap-1">
                {% for websiteCategory in websiteCategories %}
                <a href="{{ link_to(websiteCategory) }}" class="mini-badge">{{ websiteCategory.title }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- Comments -->
        <div class="mt-3">
            {% include 'components/comments.html' with {
                endpoint: link_route('ajax.post.comments', { post: post.slug }),
                count: post.comments_count,
                show: true,
                i18n: {
                    toggle_button_text: 'Bình luận',
                    input__name__label: 'Tên hiển thị',
                    input__content__placeholder: 'Viết bình luận...',
                    message__successful: 'Đăng bình luận thành công, admin sẽ duyệt trước khi cho hiển thị ra website.',
                    submit_button_text: 'Đăng bình luận',
                    loading_submit_button_text: 'Đang đăng lên...',
                    reply: 'Trả lời',
                    load_more: 'Tải thêm bình luận',
                }
            } %}
        </div>

    </div>
    <div class="video-page__side">
        <script>window.seriesSlugs = []</script>
        {% include 'components/post/series.html' with { post, seriesSlugs } %}
        {% include 'components/post/recommended_videos.html' with { post } %}
    </div>
</div>
<script>
setTimeout(() => {
    window.viewCount('{{ post.slug }}')
}, 30*1000)
</script>
{% endblock %}
