
{% block content %}
<div id="video-page">
    <div class="video__top">
        <div class="video__details">
           {{ post.title }}
        
            {# Media player #}
            {% include 'components/vlxx_player.html' with { media } %}

            <!-- Under video players ads -->
            {{ embed_render('under-player-ads') | raw }}
        
            {# Content #}
            <article>{{ content.content | raw }}</article>
        
            {# Categories #}
            {% set websiteCategories = model_relation(post, 'websiteCategories') %}
            {% if websiteCategories.count() %}
            <div class="mt-3">
                <span class="mr-2">Thể loại:</span>
                {% for websiteCategory in websiteCategories %}
                    <a href="{{ link_to(websiteCategory) }}" title="Phim Sex {{ websiteCategory.title }}" class="badge">{{ websiteCategory.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
        
            {# Tags #}
            {% set websiteTags = model_relation(post, 'websiteTags') %}
            {% set websiteTagGroups = websiteTags | map(websiteTag => model_relation(websiteTag, 'websiteTagGroup')) %}
            {% for websiteTagGroup in collect(websiteTagGroups).unique('name').filter() %}
            <div class="mt-3">
                <a href="{{ link_to(websiteTagGroup) }}" class="mr-2">{{ websiteTagGroup.name }}:</a>
                {% for websiteTag in websiteTags.where('website_tag_group_id', websiteTagGroup.id) %}
                    <a href="{{ link_to(websiteTag) }}" title="Phim Sex {{ websiteTag.name }}" class="badge">{{ websiteTag.name }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        
            {# Free tags #}
            {% set freeTags = websiteTags.whereNull('website_tag_group_id') %}
            {% if freeTags.count() %}
            <div class="mt-3">
                <span class="mr-2">Tags:</span>
                {% for websiteTag in freeTags %}
                    <a href="{{ link_to(websiteTag) }}" title="Phim Sex {{ websiteTag.name }}" class="badge">{{ websiteTag.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="video__trending">
            <div class="heading">
                <div class="heading__text">
                    <h4>Top xem nhiều</h4>
                </div>
            </div>
            <div class="video__trending__videos" x-data="list('/ajax/top/1h', true, 7)">
                <template x-for="video in data">
                    <a :href="video.url" class="video__trending__videos__video">
                        <span class="video__trending__videos__video__thumbnail">
                            <img :src="video.thumbnail_file_url || '{{ link_asset('img/default-video.jpg') }}'" :alt="video.title" />
                        </span>
                        <p class="video__trending__videos__video__title" x-text="video.title"></p>
                    </a>
                </template>
            </div>
        </div>
    </div>

    {# Suggestions #}
    <div class="video__suggestions" x-data="list('/ajax/suggestions/{{ post.slug }}', true, 8)">
        <div class="heading">
            <h4 class="heading__text">Có thể bạn thích?</h4>
        </div>
        <div class="video__suggestions__list">
            <template x-for="video in data">
                {% include 'components/video_item.html' with { alpine: true } %}
            </template>
        </div>
        <div x-show="isLoading" class="video__suggestions__loading">...Đang tải...</div>
        <button x-bind="trigger" class="button">Tải thêm videos</button>
    </div>
</div>

<script>
setTimeout(() => {
    window.viewCount('{{ post.slug }}')
}, 30*1000)
</script>
{% endblock %}
