#aside {
    .aside__close-button {
        @apply transition-all;
        @apply fixed inset-0 top-14 z-40 bg-background/80 opacity-0;
    }

    .aside__menu {
        @apply transition-all duration-300;
        @apply -translate-x-full;
        @apply fixed top-14 bottom-0 left-0 z-50 w-64 bg-sidebar;
        height: 100vh;

        .aside__menu__wrapper {
            @apply ring-ring/10 dark:ring-ring/20 dark:outline-ring/40 outline-ring/50 size-full rounded-[inherit] transition-[color,box-shadow] focus-visible:ring-4 focus-visible:outline-1;
        }

        .aside__menu__content {
            @apply flex min-h-0 flex-1 flex-col gap-2 overflow-auto group-data-[collapsible=icon]:overflow-hidden p-2;            

            .aside__menu__content__group {
                @apply relative flex w-full min-w-0 flex-col p-2;

                .aside__menu__content__group__heading {
                    @apply text-sidebar-foreground/70 ring-sidebar-ring flex h-8 shrink-0 items-center rounded-md px-2 text-xs font-medium outline-hidden transition-[margin,opacity] duration-200 ease-linear focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0 group-data-[collapsible=icon]:-mt-8 group-data-[collapsible=icon]:opacity-0;
                }
            }

            .aside__menu__content__group--as-item {
                @apply py-0 -mb-1;
            }

            .aside__menu__content__item {
                @apply ring-sidebar-ring active:bg-sidebar-accent active:text-sidebar-accent-foreground data-[active=true]:bg-sidebar-accent data-[active=true]:text-sidebar-accent-foreground data-[state=open]:hover:bg-sidebar-accent data-[state=open]:hover:text-sidebar-accent-foreground flex w-full items-center gap-2 overflow-hidden rounded-md p-2 text-start outline-hidden transition-[width,height,padding] group-has-data-[sidebar=menu-action]/menu-item:pe-8 group-data-[collapsible=icon]:size-8! group-data-[collapsible=icon]:p-2! focus-visible:ring-2 disabled:pointer-events-none disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 data-[active=true]:font-medium [&>span:last-child]:truncate [&>svg]:size-4 [&>svg]:shrink-0 hover:bg-sidebar-accent hover:text-sidebar-accent-foreground h-8 text-sm;

                svg {
                    @apply size-4;
                }
            }
        }
    }
}

#aside.aside--open {

    .aside__close-button {
        @apply opacity-100;
    }

    .aside__menu {
        @apply translate-x-0;
    }
}