#header {
    @apply sticky top-0 z-50 bg-card/95 backdrop-blur supports-backdrop-filter:bg-card/60;

    .header__wrapper {
        @apply flex h-14 items-center gap-2 px-4 lg:gap-4;
    }

    .header__burger {
        @apply focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive inline-flex shrink-0 items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 size-9;

        .header__burger__stick  {
            @apply absolute left-0 block h-0.5 w-5 bg-current transition-all duration-300;
        }

        .header__burger__stick--top {
            @apply top-1.5;
        }

        .header__burger__stick--bottom {
            @apply bottom-1.5;
        }
    }

    .header__burger--active {
        .header__burger__stick {
            @apply top-1/2 -translate-y-1/2;
        }

        .header__burger__stick--top {
            @apply rotate-45;
        }

        .header__burger__stick--bottom {
            @apply -rotate-45;
        }
    }
}