@utility base-button {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive inline-flex shrink-0 items-center justify-center text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 bg-background hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 border shadow-xs h-8 rounded-md px-3 has-[>svg]:px-2.5 gap-2;
}

@utility base-button--primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90 shadow-xs h-8 gap-1.5 rounded-md px-3 has-[>svg]:px-2.5;;
}

.button {
    @apply base-button;
}

.button--primary {
    @apply base-button base-button--primary;
}