.list-videos-header {
    @apply mb-2 flex items-center gap-3 lg:mb-4;

    .list-videos-header__ribbon {
        @apply h-5 w-1 rounded-full bg-linear-to-b from-primary to-accent;
    }

    h4 {
        @apply text-xl font-bold lg:text-2xl;
    }

    .list-videos-header__counter {
        @apply rounded-full bg-muted/50 px-2 py-0.5 text-xs text-muted-foreground;
    }
}

.list-videos {
    @apply grid gap-3 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-7;
}