.videos-carousel {
    @apply overflow-hidden;

    .videos-carousel__header {
        @apply mb-3 flex items-center justify-between lg:mb-4;
    }

    .videos-carousel__heading {
        @apply flex flex-col justify-center gap-1;

        h2 {
            @apply text-xl font-bold md:text-2xl;
        }

        small {
            @apply text-muted-foreground;
        }
    }

    .videos-carousel__container {
        @apply flex gap-0 md:gap-3;
        touch-action: pan-y pinch-zoom;

        .embla__slide {
            @apply p-3 -ml-1.5 -mr-1.5 basis-1/2 md:basis-1/3 lg:basis-1/6 xl:basis-1/7 shrink-0;
            min-width: 0;
        }

        .embla__slide--large {
            @apply lg:basis-1/4 xl:basis-1/4;
        }
    }

    .videos-carousel__control {
        @apply flex gap-1;

        .videos-carousel__control__button {
            @apply focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive shrink-0 items-center justify-center text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 hover:bg-accent dark:hover:bg-accent/50 h-8 gap-1.5 rounded-md px-3 has-[>svg]:px-2.5 hidden text-muted-foreground hover:text-foreground sm:inline-flex;
        }

        .videos-carousel__control__button--view-all {
            @apply inline-flex;
        }

        @media(max-width: 1024px) {
            .videos-carousel__control__button--view-all {
                @apply base-button;
            }
        }
    }
}