{% include 'components/heading.html' with {
    heading: 'Tất cả thể loại',
    count: count(allWebsiteCategories),
} %}
<div class="list-videos mt-5">

    {% for websiteCategory in allWebsiteCategories %}
    <a href="{{ link_to(websiteCategory) }}" class="video-item group">
        <div class="relative">
            <div class="video-item__thumbnail">
                {% set thumbnailFile = model_relation(websiteCategory, 'thumbnailFile') %}
                <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) : link_asset('img/default-video.jpg') }}" alt="Phim sex {{ websiteCategory.title }}" />
            </div>
        </div>
        
        <h3 href="{{ link_to(websiteCategory) }}" title="Phim sex {{ websiteCategory.title}}" class="video-item__heading">
            {{ websiteCategory.title }}
        </h3>
        <small class="video-item__subheading">{{ websiteCategory.public_posts_count }} phim</small>
    </a>
    {% endfor %}
</div>